In [1]:
# Import Libraries
import csv
import pandas as pd

# Change Model to Average Model Price to Overcome Max. Factor Limit

In [7]:
# Import the dataset

df = pd.read_csv('Scraped Cars.csv', index_col = 0)
df

,Make,Model,Year,Mileage,Transmission,Engine Size (L),Fuel Type,Price (£),Indicated Value
0,renault,clio,2006,55378,Manual,1.6,Petrol,1675,Great
1,seat,leon,2006,110988,Manual,2.0,Petrol,2350,Great
2,mini,hatch cooper,2006,69000,Manual,1.6,Petrol,2499,Fair
3,ford,fiesta,2006,85714,Manual,1.6,Diesel,1699,Great
4,suzuki,grand vitara,2006,77000,Manual,1.6,Petrol,2450,Great
...,...,...,...,...,...,...,...,...,...
13640,kia,sportage,2020,7969,Manual,1.6,Petrol,22779,Great
13641,seat,leon,2020,4943,Manual,1.5,Petrol,18690,Good
13642,volkswagen,golf,2020,26439,Manual,1.5,Petrol,16998,Lower
13643,vauxhall,crossland x,2020,12063,Manual,1.2,Petrol,13349,Good
13644,kia,rio,2020,3595,Manual,1.0,Petrol,15995,Good

In [3]:
# Check the number of different models
len(set(df['Model']))

540

In [4]:
# Gathering the means of numerical data for each model
means = df.groupby('Model').mean()
means

                      Year       Mileage  Engine Size (L)     Price (£)
Model
1 series       2012.219355  77824.032258         1.839355   7848.303226
1007           2006.666667  54744.666667         1.533333   1894.666667
107            2009.927273  62280.236364         1.000000   2218.545455
107 hatchback  2014.000000  49841.000000         1.000000   3180.000000
108            2017.513889  23867.125000         1.033333   6908.847222
...                    ...           ...              ...           ...
z4             2009.714286  78442.571429         2.214286   8111.285714
zafira         2009.971429  85360.071429         1.711429   2624.614286
zafira tourer  2014.823529  69415.058824         1.670588   7289.470588
zs             2019.700000   9168.700000         1.300000  14179.800000
zsc            2020.000000   4083.000000         1.000000  15995.000000

[540 rows x 4 columns]

In [5]:
# Creating new column 'Model'
means['Model'] = means.index
means

,Year,Mileage,Engine Size (L),Price (£),Model
Model,,,,,
1 series,2012.219355,77824.032258,1.839355,7848.303226,1 series
1007,2006.666667,54744.666667,1.533333,1894.666667,1007
107,2009.927273,62280.236364,1.000000,2218.545455,107
107 hatchback,2014.000000,49841.000000,1.000000,3180.000000,107 hatchback
108,2017.513889,23867.125000,1.033333,6908.847222,108
...,...,...,...,...,...
z4,2009.714286,78442.571429,2.214286,8111.285714,z4
zafira,2009.971429,85360.071429,1.711429,2624.614286,zafira
zafira tourer,2014.823529,69415.058824,1.670588,7289.470588,zafira tourer
zs,2019.700000,9168.700000,1.300000,14179.800000,zs
zsc,2020.000000,4083.000000,1.000000,15995.000000,zsc

In [6]:
#find the mean price of all models
list_mean_price = list(means['Price (£)'])
list_mean_price

[7848.303225806451,
 1894.6666666666667,
 2218.5454545454545,
 3180.0,
 6908.847222222223,
 8260.0,
 24500.0,
 1792.5,
 2494.8,
 3642.0,
 5743.027522935779,
 8895.0,
 8900.0,
 12593.375,
 11079.694444444445,
 6901.0,
 2056.6666666666665,
 2062.084210526316,
 2429.9285714285716,
 1857.25,
 7344.327014218009,
 4094.0,
 7650.494117647058,
 6605.586206896552,
 6403.487804878048,
 5665.0,
 1761.5,
 1968.5,
 1953.3333333333333,
 5429.7807017543855,
 2798.3333333333335,
 4530.785714285715,
 6500.0,
 20065.583333333332,
 19538.222222222223,
 3695.0,
 2013.2,
 1990.0,
 2498.777777777778,
 8238.234042553191,
 5703.985576923077,
 6029.0,
 7795.0,
 7495.0,
 7594.166666666667,
 6347.0,
 5870.0,
 5500.0,
 10326.555555555555,
 13334.882352941177,
 8880.666666666666,
 11304.0,
 12499.0,
 5089.122448979592,
 11755.0,
 14808.75,
 2000.0,
 2922.2045454545455,
 3653.75,
 13754.521739130434,
 14173.6,
 11303.587301587302,
 7253.379310344828,
 5520.0,
 7671.473684210527,
 11750.0,
 5946.259259259259,
 3530.6153846153848,
 14827.818181818182,
 5990.0,
 13210.0,
 14265.5,
 8989.0,
 6834.0,
 5919.0,
 19950.0,
 14826.333333333334,
 11290.0,
 3139.08,
 5712.0,
 7158.136752136752,
 7000.0,
 2314.214285714286,
 3226.3333333333335,
 2753.6666666666665,
 2547.5,
 2477.0,
 4450.92,
 14401.39393939394,
 13995.0,
 16995.0,
 26950.0,
 4687.431330472103,
 5513.571428571428,
 6690.0,
 8483.16,
 15041.538461538461,
 3453.4754098360654,
 3715.0,
 3518.1666666666665,
 9999.0,
 2057.1111111111113,
 4719.167938931298,
 9116.933333333332,
 4755.666666666667,
 5741.0,
 6622.35294117647,
 7095.6,
 4153.45,
 10214.818181818182,
 9967.0,
 12995.0,
 2268.5,
 3495.0,
 7442.675,
 19995.0,
 8869.833333333334,
 3118.5,
 17628.0,
 3924.3518518518517,
 5021.941176470588,
 1831.25,
 8251.679611650485,
 11722.2,
 3652.4242424242425,
 1999.0,
 3092.9767441860463,
 3625.464285714286,
 9778.67924528302,
 7798.5,
 5810.95,
 12498.0,
 6795.0,
 2384.714285714286,
 17866.8,
 4842.0,
 5999.0,
 2987.5714285714284,
 22995.0,
 3006.846153846154,
 10630.0,
 5342.0,
 8999.0,
 4000.0,
 5968.375,
 6000.0,
 5438.817073170731,
 5184.428571428572,
 2079.6666666666665,
 9874.5,
 5840.878787878788,
 4698.149350649351,
 3325.0,
 17943.333333333332,
 19888.2,
 3125.0,
 5933.241258741259,
 7532.0,
 9636.0,
 12798.0,
 3798.818181818182,
 5196.0,
 11300.92857142857,
 1735.142857142857,
 1997.0,
 15429.4,
 13048.181818181818,
 32028.571428571428,
 3935.633333333333,
 10926.666666666666,
 12195.0,
 18995.0,
 9995.0,
 2890.0,
 6102.8,
 23500.0,
 18393.333333333332,
 2251.4,
 5872.614054054054,
 6500.0,
 8622.5,
 6667.333333333333,
 8388.028571428571,
 2599.4736842105262,
 5048.474576271186,
 12051.29411764706,
 12995.0,
 9868.0,
 2643.2,
 2895.0,
 19497.0,
 14794.5,
 12640.818181818182,
 21766.0,
 11541.0,
 1892.0,
 2593.0,
 12450.0,
 5835.857142857143,
 26024.0,
 4271.0,
 7618.936170212766,
 18117.5,
 5441.0,
 8337.5,
 6742.5,
 23492.5,
 4225.833333333333,
 4713.333333333333,
 5035.045454545455,
 5519.5,
 9651.0,
 11075.615384615385,
 8293.75,
 18490.0,
 12999.0,
 15507.666666666666,
 11811.536585365853,
 13000.0,
 3668.4285714285716,
 3287.8571428571427,
 3740.0,
 6104.977142857143,
 12495.0,
 6281.729041916167,
 6300.0,
 8319.0,
 16000.0,
 14000.0,
 11950.0,
 5246.603305785124,
 16635.0,
 2149.0,
 1741.3333333333333,
 9795.0,
 7495.0,
 17932.0,
 10896.25,
 6484.7692307692305,
 6250.0,
 4874.4,
 5794.666666666667,
 1864.4,
 2596.0,
 4513.076923076923,
 4743.0,
 2203.95,
 3930.285714285714,
 1965.5,
 21245.0,
 6404.923076923077,
 7490.0,
 15440.0,
 18632.5,
 33493.0,
 49595.0,
 6953.277192982456,
 13985.0,
 3917.0,
 2778.75,
 14444.0,
 7168.055555555556,
 4782.764705882353,
 12999.0,
 3663.0,
 5370.0,
 1896.0,
 2977.25,
 3114.0,
 2242.0,
 1951.35,
 1745.0,
 16940.833333333332,
 5240.0,
 3625.0,
 2988.0,
 8597.25,
 6426.4046822742475,
 7929.057142857143,
 3328.0,
 11289.0,
 5654.142857142857,
 9438.941176470587,
 9393.0,
 12822.5,
 5303.289473684211,
 5969.5,
 6624.684684684685,
 8935.5,
 12687.0,
 5777.275862068966,
 5281.227272727273,
 6459.587719298245,
 5990.0,
 8234.708333333334,
 9000.0,
 9995.0,
 5520.0,
 7199.0,
 5040.207920792079,
 11246.666666666666,
 11122.5,
 14989.545454545454,
 2678.3333333333335,
 6081.222222222223,
 2000.0,
 2932.5,
 22022.5,
 3999.0,
 6017.529411764706,
 3397.8,
 3570.777777777778,
 8962.666666666666,
 8562.89423076923,
 9000.0,
 2662.686956521739,
 2991.0,
 8252.638888888889,
 9990.0,
 8999.0,
 12377.04347826087,
 19795.0,
 3018.75,
 23145.0,
 5994.0,
 25240.0,
 18737.0,
 14741.0,
 10854.6,
 10963.035714285714,
 2466.6,
 1995.0,
 8150.0,
 14490.0,
 2933.5,
 2815.0,
 9317.119658119658,
 13990.0,
 15995.0,
 11995.0,
 19995.0,
 11989.0,
 5315.0,
 8990.0,
 6580.0,
 5497.5,
 1772.5,
 3834.1785714285716,
 3086.220588235294,
 18148.5,
 13687.625,
 7441.3125,
 2495.0,
 6429.567010309278,
 1799.0,
 9440.333333333334,
 5959.5,
 5995.0,
 7055.714285714285,
 3738.913043478261,
 1910.0,
 6936.854166666667,
 11156.636363636364,
 4521.353448275862,
 2518.25,
 6342.478260869565,
 3295.0,
 17993.0,
 12544.0,
 6090.0,
 3361.1744186046512,
 29490.0,
 8090.169014084507,
 4390.0,
 9990.545454545454,
 4695.0,
 3000.0,
 4370.307692307692,
 7023.6,
 4863.327586206897,
 6695.0,
 5567.333333333333,
 4950.888888888889,
 5994.908256880734,
 4474.75,
 2148.5,
 2990.0,
 6135.576470588236,
 2010.5,
 6736.627009646302,
 12868.8,
 3506.0,
 10019.636363636364,
 9995.0,
 5170.625,
 2315.0,
 7630.555555555556,
 21802.0,
 3246.4,
 2079.3684210526317,
 21765.571428571428,
 26099.5,
 9822.5,
 17795.333333333332,
 10497.0,
 6661.666666666667,
 8450.0,
 7387.085227272727,
 14895.0,
 4738.428571428572,
 5497.0,
 15499.0,
 4247.0,
 7995.0,
 25756.5,
 13095.4,
 6387.368421052632,
 8246.666666666666,
 13999.0,
 5178.913043478261,
 30990.0,
 7511.0,
 12993.0,
 12995.0,
 15950.0,
 5437.333333333333,
 10099.5,
 2631.1666666666665,
 4497.0,
 3990.0,
 2200.0,
 17500.0,
 13214.8,
 4588.875,
 2879.285714285714,
 19081.333333333332,
 3060.6470588235293,
 5881.266666666666,
 2695.0,
 5271.724137931034,
 7102.659090909091,
 12038.833333333334,
 15614.0,
 3467.9333333333334,
 8030.166666666667,
 2999.0,
 2123.4,
 5323.25,
 3147.5,
 2049.3333333333335,
 1895.0,
 10999.0,
 4746.666666666667,
 9153.8,
 3713.277777777778,
 1958.9,
 1981.0,
 2241.4285714285716,
 11259.69387755102,
 20995.0,
 27995.0,
 13734.764705882353,
 11797.07142857143,
 5271.309677419355,
 8745.0,
 4863.0,
 9495.0,
 11995.0,
 2805.823529411765,
 9241.842105263158,
 19159.6,
 20592.25,
 20512.0,
 2714.8333333333335,
 7995.0,
 2359.75,
 14505.52380952381,
 18250.0,
 8157.774193548387,
 7818.0,
 12144.75,
 5495.0,
 4052.2,
 4862.5,
 4257.045454545455,
 7305.4,
 13981.583333333334,
 12995.0,
 11795.0,
 3536.521739130435,
 7004.625,
 6206.0,
 4595.0,
 6735.25,
 3995.0,
 2745.0,
 27995.0,
 24490.0,
 8327.0,
 7995.0,
 14000.0,
 16500.0,
 3123.3571428571427,
 1995.0,
 8471.625,
 3124.6666666666665,
 1936.6666666666667,
 4536.625,
 4994.666666666667,
 12608.695652173914,
 18250.0,
 5942.777777777777,
 6000.0,
 3392.5,
 6973.2,
 2722.8387096774195,
 11242.6,
 9300.0,
 6588.214285714285,
 15684.0,
 25495.0,
 10990.0,
 2387.0,
 3650.4285714285716,
 16856.2,
 16995.0,
 14823.0,
 8782.5,
 4868.5,
 5000.0,
 2156.8,
 3982.165680473373,
 10676.888888888889,
 5283.75,
 2695.0,
 8111.285714285715,
 2624.614285714286,
 7289.470588235294,
 14179.8,
 15995.0]

In [7]:
# Create a dictionary which pairs the models with their mean prices

# Rename the price for the following step
means = means.rename(columns ={'Price (£)': 'Price'})

# Create the dictionary pairing the models and mean prices
mean_price_dict = pd.Series(means.Price.values,index=means.Model).to_dict()
mean_price_dict

{'1 series': 7848.303225806451,
 '1007': 1894.6666666666667,
 '107': 2218.5454545454545,
 '107 hatchback': 3180.0,
 '108': 6908.847222222223,
 '108 hatchback': 8260.0,
 '118i': 24500.0,
 '147': 1792.5,
 '159': 2494.8,
 '159 sportwagon': 3642.0,
 '2': 5743.027522935779,
 '2 1.5 se + 5-door hatchback': 8895.0,
 '2 se-l plus': 8900.0,
 '2 series': 12593.375,
 '2008': 11079.694444444445,
 '2008 diesel estate': 6901.0,
 '206': 2056.6666666666665,
 '207': 2062.084210526316,
 '207 cc': 2429.9285714285716,
 '207 sw': 1857.25,
 '208': 7344.327014218009,
 '208 hatchback': 4094.0,
 '3': 7650.494117647058,
 '3 series': 6605.586206896552,
 '3008': 6403.487804878048,
 '300c': 5665.0,
 '307': 1761.5,
 '307 cc': 1968.5,
 '307 sw': 1953.3333333333333,
 '308': 5429.7807017543855,
 '308 cc': 2798.3333333333335,
 '308 sw': 4530.785714285715,
 '350 z': 6500.0,
 '4 series': 20065.583333333332,
 '4 series gran coupe': 19538.222222222223,
 '4007': 3695.0,
 '407': 2013.2,
 '407 sw': 1990.0,
 '5': 2498.777777777778,
 '5 series': 8238.234042553191,
 '500': 5703.985576923077,
 '500 hatchback': 6029.0,
 '500 hatchback special editions': 7795.0,
 '500 lounge': 7495.0,
 '5008': 7594.166666666667,
 '500c': 6347.0,
 '500l': 5870.0,
 '500l mpw': 5500.0,
 '500x': 10326.555555555555,
 '508': 13334.882352941177,
 '508 sw': 8880.666666666666,
 '595': 11304.0,
 '595c': 12499.0,
 '6': 5089.122448979592,
 '6 saloon': 11755.0,
 '7 series': 14808.75,
 '807': 2000.0,
 '9-3': 2922.2045454545455,
 '9-5': 3653.75,
 'a class': 13754.521739130434,
 'a-class': 14173.6,
 'a1': 11303.587301587302,
 'a3': 7253.379310344828,
 'a3 cabriolet': 5520.0,
 'a4': 7671.473684210527,
 'a4 allroad': 11750.0,
 'a4 avant': 5946.259259259259,
 'a4 cabriolet': 3530.6153846153848,
 'a5': 14827.818181818182,
 'a5 cabriolet': 5990.0,
 'a5 diesel coupe': 13210.0,
 'a6': 14265.5,
 'a6 allroad': 8989.0,
 'a6 avant': 6834.0,
 'a6 saloon': 5919.0,
 'a7': 19950.0,
 'a8': 14826.333333333334,
 'a9c': 11290.0,
 'accord': 3139.08,
 'accord diesel saloon': 5712.0,
 'adam': 7158.136752136752,
 'adam hatchback': 7000.0,
 'agila': 2314.214285714286,
 'alhambra': 3226.3333333333335,
 'altea': 2753.6666666666665,
 'altea xl': 2547.5,
 'alto': 2477.0,
 'antara': 4450.92,
 'arona': 14401.39393939394,
 'arona diesel hatchback': 13995.0,
 'arona hatchback': 16995.0,
 'arteon': 26950.0,
 'astra': 4687.431330472103,
 'astra gtc': 5513.571428571428,
 'astra hatchback special eds': 6690.0,
 'asx': 8483.16,
 'ateca': 15041.538461538461,
 'auris': 3453.4754098360654,
 'auris hatchback': 3715.0,
 'avensis': 3518.1666666666665,
 'avensis diesel saloon': 9999.0,
 'aveo': 2057.1111111111113,
 'aygo': 4719.167938931298,
 'aygo hatchback': 9116.933333333332,
 'b class': 4755.666666666667,
 'b-class': 5741.0,
 'b-max': 6622.35294117647,
 'baleno': 7095.6,
 'beetle': 4153.45,
 'berlingo': 10214.818181818182,
 'berlingo multispace': 9967.0,
 'boxster': 12995.0,
 'bravo': 2268.5,
 'brera': 3495.0,
 'c class': 7442.675,
 'c class diesel estate': 19995.0,
 'c-class': 8869.833333333334,
 'c-crosser': 3118.5,
 'c-hr': 17628.0,
 'c-max': 3924.3518518518517,
 'c1': 5021.941176470588,
 'c2': 1831.25,
 'c3': 8251.679611650485,
 'c3 aircross': 11722.2,
 'c3 picasso': 3652.4242424242425,
 'c3 pluriel': 1999.0,
 'c30': 3092.9767441860463,
 'c4': 3625.464285714286,
 'c4 cactus': 9778.67924528302,
 'c4 grand picasso': 7798.5,
 'c4 picasso': 5810.95,
 'c4 spacetourer': 12498.0,
 'c4#': 6795.0,
 'c5': 2384.714285714286,
 'c5 aircross': 17866.8,
 'c5 diesel saloon': 4842.0,
 'c6': 5999.0,
 'c70': 2987.5714285714284,
 'camry saloon': 22995.0,
 'captiva': 3006.846153846154,
 'captur': 10630.0,
 'carens': 5342.0,
 'cascada': 8999.0,
 'cayenne': 4000.0,
 'cc': 5968.375,
 "cee'd": 6000.0,
 'ceed': 5438.817073170731,
 'celerio': 5184.428571428572,
 'celica': 2079.6666666666665,
 'cherokee': 9874.5,
 'citigo': 5840.878787878788,
 'civic': 4698.149350649351,
 'civic hatchback': 3325.0,
 'cla': 17943.333333333332,
 'cla class': 19888.2,
 'clc class': 3125.0,
 'clio': 5933.241258741259,
 'clio hatchback': 7532.0,
 'clio hatchback special editions': 9636.0,
 'clio iconic tce': 12798.0,
 'clk': 3798.818181818182,
 'cls': 5196.0,
 'clubman': 11300.92857142857,
 'colt': 1735.142857142857,
 'colt cabriolet': 1997.0,
 'combo life': 15429.4,
 'compass': 13048.181818181818,
 'continental': 32028.571428571428,
 'convertible': 3935.633333333333,
 'cooper': 10926.666666666666,
 'cooper 1.5 cooper series ii (s/s) 5-door hatchback': 12195.0,
 'cooper 3dr 2.0 (189bhp) cooper s classic series ii': 18995.0,
 'cooper d 1.5td (s/s) 5-door hatchback': 9995.0,
 'copen': 2890.0,
 'corolla': 6102.8,
 'corolla hatchback': 23500.0,
 'corolla touring sport': 18393.333333333332,
 'corolla verso': 2251.4,
 'corsa': 5872.614054054054,
 'corsa (4500)': 6500.0,
 'corsa hatchback': 8622.5,
 'corsa hatchback special eds': 6667.333333333333,
 'countryman': 8388.028571428571,
 'coupe': 2599.4736842105262,
 'cr-v': 5048.474576271186,
 'crossland x': 12051.29411764706,
 'crossland x hatchback': 12995.0,
 'crossover': 9868.0,
 'cruze': 2643.2,
 'crv': 2895.0,
 'ct': 19497.0,
 'ct 200h': 14794.5,
 'cx-3': 12640.818181818182,
 'cx-30': 21766.0,
 'cx-5': 11541.0,
 'cx-7': 1892.0,
 'delta': 2593.0,
 'discovery': 12450.0,
 'discovery 3': 5835.857142857143,
 'discovery sport': 26024.0,
 'doblo': 4271.0,
 'ds 3': 7618.936170212766,
 'ds 3 crossback': 18117.5,
 'ds 3 hatchback': 5441.0,
 'ds 4': 8337.5,
 'ds 4 crossback': 6742.5,
 'ds 7 crossback': 23492.5,
 'ds3': 4225.833333333333,
 'ds3 cabrio': 4713.333333333333,
 'ds4': 5035.045454545455,
 'ds5': 5519.5,
 'duster': 9651.0,
 'e class': 11075.615384615385,
 'e-class': 8293.75,
 'e-pace': 18490.0,
 'e250': 12999.0,
 'eclipse cross': 15507.666666666666,
 'ecosport': 11811.536585365853,
 'ecosport hatchback': 13000.0,
 'eos': 3668.4285714285716,
 'exeo': 3287.8571428571427,
 'expert tepee': 3740.0,
 'fabia': 6104.977142857143,
 'fabia hatch': 12495.0,
 'fiesta': 6281.729041916167,
 'fiesta (b299)': 6300.0,
 'fiesta hatchback': 8319.0,
 'fiesta st-line x-turbo': 16000.0,
 'fiesta titanium': 14000.0,
 'fiesta vignale': 11950.0,
 'focus': 5246.603305785124,
 'focus active': 16635.0,
 'focus c-max': 2149.0,
 'focus cc': 1741.3333333333333,
 'focus diesel estate': 9795.0,
 'focus hatchback': 7495.0,
 'focus vignale': 17932.0,
 'forester': 10896.25,
 'forfour': 6484.7692307692305,
 'forfour hatchback': 6250.0,
 'fortwo': 4874.4,
 'fortwo coupe': 5794.666666666667,
 'fox': 1864.4,
 'fr-v': 2596.0,
 'freelander': 4513.076923076923,
 'freelander 2': 4743.0,
 'fusion': 2203.95,
 'galaxy': 3930.285714285714,
 'getz': 1965.5,
 'giulia': 21245.0,
 'giulietta': 6404.923076923077,
 'gl class': 7490.0,
 'gla class': 15440.0,
 'gla-class': 18632.5,
 'glb class': 33493.0,
 'gle class': 49595.0,
 'golf': 6953.277192982456,
 'golf a7 gp': 13985.0,
 'golf diesel hatchback': 3917.0,
 'golf plus': 2778.75,
 'golf sv': 14444.0,
 'grand c-max': 7168.055555555556,
 'grand c4 picasso': 4782.764705882353,
 'grand c4 spacetourer': 12999.0,
 'grand cherokee': 3663.0,
 'grand espace': 5370.0,
 'grand modus': 1896.0,
 'grand scenic': 2977.25,
 'grand vitara': 3114.0,
 'grand voyager': 2242.0,
 'grande punto': 1951.35,
 'grandis': 1745.0,
 'grandland x': 16940.833333333332,
 'gs': 5240.0,
 'gs 300': 3625.0,
 'gt': 2988.0,
 'gtc': 8597.25,
 'hatch': 6426.4046822742475,
 'hatch cooper': 7929.057142857143,
 'hatch first': 3328.0,
 'hatch john cooper works': 11289.0,
 'hatch one': 5654.142857142857,
 'hatchback': 9438.941176470587,
 'hatchback diesel': 9393.0,
 'hr-v': 12822.5,
 'i10': 5303.289473684211,
 'i10 hatchback': 5969.5,
 'i20': 6624.684684684685,
 'i20 hatchback': 8935.5,
 'i20 hatchback special editions': 12687.0,
 'i30': 5777.275862068966,
 'i40': 5281.227272727273,
 'ibiza': 6459.587719298245,
 'ibiza sport coupe': 5990.0,
 'ignis': 8234.708333333334,
 'ignis hatchback': 9000.0,
 'ignis hatchback special editions': 9995.0,
 'impreza': 5520.0,
 'insight': 7199.0,
 'insignia': 5040.207920792079,
 'insignia grand sport': 11246.666666666666,
 'insignia sports tourer': 11122.5,
 'ioniq': 14989.545454545454,
 'iq': 2678.3333333333335,
 'is': 6081.222222222223,
 'is 220d': 2000.0,
 'is 250': 2932.5,
 'is 300': 22022.5,
 'ix20': 3999.0,
 'ix35': 6017.529411764706,
 'jazz': 3397.8,
 'jetta': 3570.777777777778,
 'jimny': 8962.666666666666,
 'juke': 8562.89423076923,
 'juke diesel hatchback': 9000.0,
 'ka': 2662.686956521739,
 'ka hatchback': 2991.0,
 'ka+': 8252.638888888889,
 'ka+ hatchback': 9990.0,
 'ka-plus': 8999.0,
 'kadjar': 12377.04347826087,
 'kamiq': 19795.0,
 'kangoo': 3018.75,
 'karoq': 23145.0,
 'kizashi': 5994.0,
 'kodiaq': 25240.0,
 'koleos': 18737.0,
 'kona': 14741.0,
 'korando': 10854.6,
 'kuga': 10963.035714285714,
 'laguna': 2466.6,
 'lancer': 1995.0,
 'land cruiser': 8150.0,
 'land cruiser amazon': 14490.0,
 'legacy': 2933.5,
 'legend': 2815.0,
 'leon': 9317.119658119658,
 'leon diesel sport tourer': 13990.0,
 'leon hatchback': 15995.0,
 'leon sport coupe': 11995.0,
 'levorg': 19995.0,
 'logan': 11989.0,
 'logan mcv': 5315.0,
 'logan mcv stepway': 8990.0,
 'm class': 6580.0,
 'm-class': 5497.5,
 'matrix': 1772.5,
 'megane': 3834.1785714285716,
 'meriva': 3086.220588235294,
 'mg hs': 18148.5,
 'mg zs': 13687.625,
 'mg3': 7441.3125,
 'mg6': 2495.0,
 'micra': 6429.567010309278,
 'micra c+c': 1799.0,
 'micra hatchback': 9440.333333333334,
 'mii': 5959.5,
 'mini': 5995.0,
 'mirage': 7055.714285714285,
 'mito': 3738.913043478261,
 'modus': 1910.0,
 'mokka': 6936.854166666667,
 'mokka x': 11156.636363636364,
 'mondeo': 4521.353448275862,
 'murano': 2518.25,
 'mx-5': 6342.478260869565,
 'nemo multispace': 3295.0,
 'new 2017 civic 5-door': 17993.0,
 'niro': 12544.0,
 'non-franchise c': 6090.0,
 'note': 3361.1744186046512,
 'nx 300h': 29490.0,
 'octavia': 8090.169014084507,
 'one d': 4390.0,
 'optima': 9990.545454545454,
 'orlando': 4695.0,
 'outback': 3000.0,
 'outlander': 4370.307692307692,
 'paceman': 7023.6,
 'panda': 4863.327586206897,
 'panda hatchback': 6695.0,
 'partner': 5567.333333333333,
 'partner tepee': 4950.888888888889,
 'passat': 5994.908256880734,
 'pathfinder': 4474.75,
 'patriot': 2148.5,
 'phaeton': 2990.0,
 'picanto': 6135.576470588236,
 'pixo': 2010.5,
 'polo': 6736.627009646302,
 'polo hatchback': 12868.8,
 'prius': 3506.0,
 'pro ceed': 10019.636363636364,
 "pro_cee'd": 9995.0,
 'proceed': 5170.625,
 'pt cruiser': 2315.0,
 'pulsar': 7630.555555555556,
 'puma': 21802.0,
 'punto': 3246.4,
 'punto evo': 2079.3684210526317,
 'q2': 21765.571428571428,
 'q3': 26099.5,
 'q30': 9822.5,
 'q5': 17795.333333333332,
 'q50': 10497.0,
 'q7': 6661.666666666667,
 'q70': 8450.0,
 'qashqai': 7387.085227272727,
 'qashqai diesel hatchback': 14895.0,
 'qashqai+2': 4738.428571428572,
 'qubo': 5497.0,
 'qx30': 15499.0,
 'r class': 4247.0,
 'range rover': 7995.0,
 'range rover evoque': 25756.5,
 'range rover sport': 13095.4,
 'rapid': 6387.368421052632,
 'rapid spaceback': 8246.666666666666,
 'rav-4': 13999.0,
 'rav4': 5178.913043478261,
 'rc 300h': 30990.0,
 'rcz': 7511.0,
 'renegade': 12993.0,
 'rexton': 12995.0,
 'rifter': 15950.0,
 'rio': 5437.333333333333,
 'roadster': 10099.5,
 'roomster': 2631.1666666666665,
 'rx': 4497.0,
 'rx 400h': 3990.0,
 'rx-8': 2200.0,
 's 2000': 17500.0,
 's class': 13214.8,
 's-max': 4588.875,
 's-type': 2879.285714285714,
 's3': 19081.333333333332,
 's40': 3060.6470588235293,
 's60': 5881.266666666666,
 's80': 2695.0,
 'sandero': 5271.724137931034,
 'sandero stepway': 7102.659090909091,
 'santa fe': 12038.833333333334,
 'scala': 15614.0,
 'scenic': 3467.9333333333334,
 'scirocco': 8030.166666666667,
 'sebring': 2999.0,
 'sedici': 2123.4,
 'shogun': 5323.25,
 'shogun sport': 3147.5,
 'signum': 2049.3333333333335,
 'sirion': 1895.0,
 'sl': 10999.0,
 'slk': 4746.666666666667,
 'sorento': 9153.8,
 'soul': 3713.277777777778,
 'spark': 1958.9,
 'spark hatchback': 1981.0,
 'splash': 2241.4285714285716,
 'sportage': 11259.69387755102,
 'sportage diesel estate': 20995.0,
 'sq2': 27995.0,
 'stonic': 13734.764705882353,
 'superb': 11797.07142857143,
 'swift': 5271.309677419355,
 'swift attitude dualjet': 8745.0,
 'swift hatchback': 4863.0,
 'swift hatchback special editions': 9495.0,
 'swift sz-t dualjet shvs': 11995.0,
 'sx4': 2805.823529411765,
 'sx4 s-cross': 9241.842105263158,
 't-cross': 19159.6,
 't-roc': 20592.25,
 'tarraco': 20512.0,
 'terios': 2714.8333333333335,
 'tf': 7995.0,
 'tigra': 2359.75,
 'tiguan': 14505.52380952381,
 'tiguan allspace': 18250.0,
 'tipo': 8157.774193548387,
 'tipo hatchback': 7818.0,
 'tivoli': 12144.75,
 'tivoli xlv': 5495.0,
 'toledo': 4052.2,
 'touareg': 4862.5,
 'touran': 4257.045454545455,
 'tt': 7305.4,
 'tucson': 13981.583333333334,
 'tucson diesel estate': 12995.0,
 'turismo': 11795.0,
 'twingo': 3536.521739130435,
 'up': 7004.625,
 'up hatchback': 6206.0,
 'up hatchback special eds': 4595.0,
 'up!': 6735.25,
 'urban cruiser': 3995.0,
 'urbancruiser': 2745.0,
 'ux': 27995.0,
 'ux 250h': 24490.0,
 'v40': 8327.0,
 'v40 cross country': 7995.0,
 'v40 d4 r-design pro manual': 14000.0,
 'v40 t2 r-design manual': 16500.0,
 'v50': 3123.3571428571427,
 'v50 series': 1995.0,
 'v60': 8471.625,
 'v70': 3124.6666666666665,
 'vectra': 1936.6666666666667,
 'venga': 4536.625,
 'verso': 4994.666666666667,
 'vitara': 12608.695652173914,
 'vitara estate': 18250.0,
 'viva': 5942.777777777777,
 'viva hatchback': 6000.0,
 'wind': 3392.5,
 'x-trail': 6973.2,
 'x-type': 2722.8387096774195,
 'x1': 11242.6,
 'x1 series': 9300.0,
 'x3': 6588.214285714285,
 'x5': 15684.0,
 'x6': 25495.0,
 'xc60': 10990.0,
 'xc70': 2387.0,
 'xc90': 3650.4285714285716,
 'xceed': 16856.2,
 'xceed hatchback special edition': 16995.0,
 'xe': 14823.0,
 'xf': 8782.5,
 'xj': 4868.5,
 'xkr': 5000.0,
 'xsara picasso': 2156.8,
 'yaris': 3982.165680473373,
 'yaris hatchback': 10676.888888888889,
 'yeti': 5283.75,
 'ypsilon': 2695.0,
 'z4': 8111.285714285715,
 'zafira': 2624.614285714286,
 'zafira tourer': 7289.470588235294,
 'zs': 14179.8,
 'zsc': 15995.0}

In [9]:
#iterate through the dataframe, replacing the model with the mean model price
for i in range(len(df)):
    df['Model'].iloc[i] = mean_price_dict[df['Model'].iloc[i]]

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [10]:
#check it has worked and rename the columns appropriately
df = df.rename(columns ={'Model': 'Mean Model Price (£)', 'Price (£)':'Actual Car Price (£)'})
df

,Make,Mean Model Price (£),Year,Mileage,Transmission,Engine Size (L),Fuel Type,Actual Car Price (£),Indicated Value
0,renault,5933.24,2006,55378,Manual,1.6,Petrol,1675,Great
1,seat,9317.12,2006,110988,Manual,2.0,Petrol,2350,Great
2,mini,7929.06,2006,69000,Manual,1.6,Petrol,2499,Fair
3,ford,6281.73,2006,85714,Manual,1.6,Diesel,1699,Great
4,suzuki,3114,2006,77000,Manual,1.6,Petrol,2450,Great
...,...,...,...,...,...,...,...,...,...
13640,kia,11259.7,2020,7969,Manual,1.6,Petrol,22779,Great
13641,seat,9317.12,2020,4943,Manual,1.5,Petrol,18690,Good
13642,volkswagen,6953.28,2020,26439,Manual,1.5,Petrol,16998,Lower
13643,vauxhall,12051.3,2020,12063,Manual,1.2,Petrol,13349,Good
13644,kia,5437.33,2020,3595,Manual,1.0,Petrol,15995,Good

In [11]:
# Save to CSV
df.to_csv('Engineered Dataset.csv')

# Removing 9 Least Common Makes for Simple and Pruned Trees

In [121]:
# re-import the dataset because returning to notebook and don't want to have to re-run the above code
df_top_makes = pd.read_csv('Engineered Dataset.csv', index_col = 0)
df_top_makes # print to ensure is correct

,Make,Mean Model Price (£),Year,Mileage,Transmission,Engine Size (L),Fuel Type,Actual Car Price (£),Indicated Value
0,renault,5933.241259,2006,55378,Manual,1.6,Petrol,1675,Great
1,seat,9317.119658,2006,110988,Manual,2.0,Petrol,2350,Great
2,mini,7929.057143,2006,69000,Manual,1.6,Petrol,2499,Fair
3,ford,6281.729042,2006,85714,Manual,1.6,Diesel,1699,Great
4,suzuki,3114.000000,2006,77000,Manual,1.6,Petrol,2450,Great
...,...,...,...,...,...,...,...,...,...
13640,kia,11259.693878,2020,7969,Manual,1.6,Petrol,22779,Great
13641,seat,9317.119658,2020,4943,Manual,1.5,Petrol,18690,Good
13642,volkswagen,6953.277193,2020,26439,Manual,1.5,Petrol,16998,Lower
13643,vauxhall,12051.294118,2020,12063,Manual,1.2,Petrol,13349,Good
13644,kia,5437.333333,2020,3595,Manual,1.0,Petrol,15995,Good

In [122]:
values = df_top_makes['Make'].value_counts().keys().tolist()[:32] # Get the 32 most commonly occuring makes
print("32 most common makes:", values, "\n") #

df_top_makes = df_top_makes[df_top_makes['Make'].isin(values)] # Keep the makes that are in the above list only
df_top_makes

32 most common makes: ['vauxhall', 'ford', 'volkswagen', 'peugeot', 'citroen', 'fiat', 'renault', 'nissan', 'toyota', 'bmw', 'mini', 'hyundai', 'audi', 'seat', 'kia', 'skoda', 'honda', 'suzuki', 'mazda', 'mercedes-benz', 'volvo', 'dacia', 'jaguar', 'ds automobiles', 'mitsubishi', 'land rover', 'alfa romeo', 'chevrolet', 'mg', 'saab', 'lexus', 'smart']

,Make,Mean Model Price (£),Year,Mileage,Transmission,Engine Size (L),Fuel Type,Actual Car Price (£),Indicated Value
0,renault,5933.241259,2006,55378,Manual,1.6,Petrol,1675,Great
1,seat,9317.119658,2006,110988,Manual,2.0,Petrol,2350,Great
2,mini,7929.057143,2006,69000,Manual,1.6,Petrol,2499,Fair
3,ford,6281.729042,2006,85714,Manual,1.6,Diesel,1699,Great
4,suzuki,3114.000000,2006,77000,Manual,1.6,Petrol,2450,Great
...,...,...,...,...,...,...,...,...,...
13640,kia,11259.693878,2020,7969,Manual,1.6,Petrol,22779,Great
13641,seat,9317.119658,2020,4943,Manual,1.5,Petrol,18690,Good
13642,volkswagen,6953.277193,2020,26439,Manual,1.5,Petrol,16998,Lower
13643,vauxhall,12051.294118,2020,12063,Manual,1.2,Petrol,13349,Good
13644,kia,5437.333333,2020,3595,Manual,1.0,Petrol,15995,Good

In [123]:
# Save to CSV
df_top_makes.to_csv('Engineered Dataset for Simple and Pruned.csv')

# Just most popular make

In [21]:
# re-import the dataset because returning to notebook and don't want to have to re-run the above code
df_1_make = pd.read_csv('Engineered Dataset.csv', index_col = 0)
df_1_make # print to ensure is correct

,Make,Mean Model Price (£),Year,Mileage,Transmission,Engine Size (L),Fuel Type,Actual Car Price (£),Indicated Value
0,renault,5933.241259,2006,55378,Manual,1.6,Petrol,1675,Great
1,seat,9317.119658,2006,110988,Manual,2.0,Petrol,2350,Great
2,mini,7929.057143,2006,69000,Manual,1.6,Petrol,2499,Fair
3,ford,6281.729042,2006,85714,Manual,1.6,Diesel,1699,Great
4,suzuki,3114.000000,2006,77000,Manual,1.6,Petrol,2450,Great
...,...,...,...,...,...,...,...,...,...
13640,kia,11259.693878,2020,7969,Manual,1.6,Petrol,22779,Great
13641,seat,9317.119658,2020,4943,Manual,1.5,Petrol,18690,Good
13642,volkswagen,6953.277193,2020,26439,Manual,1.5,Petrol,16998,Lower
13643,vauxhall,12051.294118,2020,12063,Manual,1.2,Petrol,13349,Good
13644,kia,5437.333333,2020,3595,Manual,1.0,Petrol,15995,Good

In [22]:
top_make = df_1_make['Make'].value_counts().keys().tolist()[:1] # Get the most commonly occuring make
print("Most common make:", top_make, "\n") 

df_1_make = df_1_make[df_1_make['Make'].isin(top_make)].reset_index(drop=True) # Keep the makes that are in the above list only
df_1_make

Most common make: ['vauxhall']

,Make,Mean Model Price (£),Year,Mileage,Transmission,Engine Size (L),Fuel Type,Actual Car Price (£),Indicated Value
0,vauxhall,5872.614054,2006,60000,Manual,1.2,Petrol,1650,Great
1,vauxhall,4687.431330,2006,86000,Manual,1.8,Petrol,1995,Great
2,vauxhall,4687.431330,2006,62647,Manual,1.6,Petrol,1695,Fair
3,vauxhall,4687.431330,2006,111000,Manual,2.0,Petrol,3495,Great
4,vauxhall,2359.750000,2006,20000,Manual,1.4,Petrol,2950,Higher
...,...,...,...,...,...,...,...,...,...
2162,vauxhall,5872.614054,2020,5025,Manual,1.2,Petrol,11730,Good
2163,vauxhall,16940.833333,2020,16883,Manual,1.5,Diesel,18291,Good
2164,vauxhall,4687.431330,2020,4800,Manual,1.5,Diesel,13900,Good
2165,vauxhall,5872.614054,2020,6933,Manual,1.2,Petrol,12990,Good
2166,vauxhall,12051.294118,2020,12063,Manual,1.2,Petrol,13349,Good

In [23]:
# Save to CSV
df_1_make.to_csv('Engineered Dataset - top make.csv')